*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
}

/* home page css */

.card-container {
  width: 100%;
  padding-inline: 4%;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 36px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 12px;
}

.card {
  color: #000;
  width: 200px;
  height: 280px;
  border: 2px solid rgba(0, 0, 0, 0.122);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.card div {
  width: 100%;
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.card:hover{
  scale: 1.01;
}
.card h1{
  font-size: 18px;
  font-weight: 500;
}
.card h1:hover{
  color: #6c25ff;
}

/* nav page css */
nav, .np2{
  display: flex;
  align-items: center;
}
nav{
  width: 100%;
  height: 60px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.188);
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 222;
  padding-inline: 20px;
  justify-content: space-between;
}
.np2{
  width: 50%;
  justify-content: space-around;
}
nav .logo{
  font-size: 36px;
  color: red;
}

nav a {
color: #000;
text-decoration: none;
font-size: 18px;
}

nav a:hover{
  color: #6c25ff;
}

/* login page css */

.login-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 375px;
  height: 480px;
  display: flex;
  justify-content: center;
  background: #F7F8F9;
  border: 2px solid rgb(218,221,224);
  border-radius: 6px;
  padding: 16px 12px;
}

.login form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login form h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-decoration: underline;
  color: #6C25FF;
}

.login form div{
  width: 100%;
}

.login form button {
  width: 100%;
  background: #cbcbcb;
  margin-top: 6px;
  padding: 9px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
}

.login form button:hover{
  color: white;
  background: #6C25FF;
}

.relative{
  position: relative;
  margin-bottom: 30px;
}

.relative input{
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  padding-inline: 16px;
  padding-block: 8px;
  width: 100%;
  font-size: 16px;
}

.relative input:focus {
  outline: 2px solid #6C25FF;
}

.relative label{
  position: absolute;
  top: -0.9rem;
  left: 1.2rem;
  background: #F7F8F9;
  color: #6c25ff;
}

.relative p {
  color: rgb(255, 59, 59);
  position: absolute;
  top: 100%;
  left: 8px;
}

.relative label sup{
  color: #DD4A3D;
}

/* details page css */

.details {
  width: 80%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.detail img {
  width: 30%;
}
.detail hr{
  margin-top: 8px;
}

.content {
  width: 40%;
}

.content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.content h3{
  margin-bottom: 10px;
  color: slategray;
}
 .content h2{
  margin-bottom: 10px;
  color: rgb(254, 93, 93);
}
.add {
  display: flex;
  align-items: center;
  justify-content: start;
}
.count-container {
  margin-right: 34px;
  user-select: none;
}
.count{
  padding: 6px 10px;
  margin-inline: 6px;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 20px;
}
.di{
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
.di:hover{
  color: #6c25ff;
}

.content button{
  padding: 8px 18px;
  margin-block: 10px;
  border-radius: 4px;
}
.content button:hover{
  background: #6C25FF;
  color: white;
}

.filter-container {
  width: 100%;
  z-index: 22;
}

.filter-container h3 {
  width: 150px;
  border: 1px solid rgba(128, 128, 128, 0.614);
  padding: 4px 14px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.filter-container h3:hover {
  background: #e1e1e169;
}

.filter {
  width: 150px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: rgb(249, 249, 249);
  /* padding: 4px 8px; */
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.614);
}
.drop{
  display: none;
}

.filter a {
  padding: 8px;
  text-decoration: none;
}
.filter a:hover{
  background: rgb(230, 230, 230);
}

/* cart page  */
.cart-container {
  width: 100%;
  height: 100vh;
  margin-top: 70px;
}

/* .cart, .p1, .cart-head {
  display: flex;
  justify-content: center;
  align-items: center;
} 
.cart-head{
  gap: 28%;
}
.cart{
  gap: 24%;
  margin-left: -38px;
}*/


.cart{
   max-width: 62vw;
   margin: auto;
   position: relative;
   background-color: rgb(228, 228, 228);
   padding: 10px;
   border-radius: 6px;
   height: 130px;
}
.cart{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 16px;
}
.cart-detail{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   gap: 50px;
}
.cart-image {
  /* margin-top: px; */
   height: 84px;
   width: auto;
   max-width: 60px;
   margin-right: -4vw;
}
.cart-image img{
   height: 100%;
   width: 100%;
   margin-top: 16px;
}
.line {
   position: absolute;
   top: 40px;
   border: 1px solid black;
   width: 100%;
   left: 0;
}
.p{
   font-weight: 600;
}

.rem {
   font-size: 20px;
   cursor: pointer;
   color: red;
   user-select: none;
}

.total-container {
  max-width: 80vw;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.total{
  width: 300px;
  background: #ececec;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 6px;
}

.total button{
  padding: 4px 8px;
  border-radius: 50px;
  margin-left: 8px;
  font-size: 16px;
  cursor: pointer;
}
.total button:hover{
  background: #000;
  color: white;
}

.total p{
  margin: 10px;
}

.total p span{
  font-weight: 600;
}
.cc{
  position: relative;
  font-size: 20px;
}

.cartCount{
  position: absolute;
  background: rgb(255, 189, 75);
  padding: 2px 7px;
  font-size: 14px;
  border-radius: 50px;
  top: -10px;
  right: -18px;
}

@media(max-width: 850px) {
  .cart{
    max-width: 90vw;
  }
  .total-container{
    max-width: 94vw;
  }
  .details{
    width: 95%;
  }
  .content h1{
    font-size: 20px;
    margin-bottom: 6px;
  }
  .content p{
    font-size: 14px;
  }
  .content h2, .content h3{
    font-size: 18px;
    margin-bottom: 6px;
  }
}

@media(max-width: 746px) {
  .card-container{
    padding-inline: 1%;
    gap: 20px;
  }
  .card{
    width: 180px;
    height: 220px;
  }
  .card h1{
    font-size: 16px;
  }
  .content h1{
    font-size: 18px;
  }
  .content h2, .content h3{
    font-size: 16px;
  }
}

@media(max-width: 700px) {
  .filter-container h3{
    font-size: 16px;
    width: 120px;
  }
  .filter{
    width: 120px;
  }
  .filter a{
    font-size: 14px;
  }
}


@media(max-width: 520px) {
  .detail{
    flex-direction: column;
  }
  .detail img{
    width: 80%;
  }
  .content{
    width: 80%;
    margin-top: 10px;
  }
}

@media(max-width: 520px) {
  .cart-detail p{
    font-size: 14px;
  }
  .cart{
    height: 120px;
    padding: 6px;
  }
  .cart-image{
    height: 68px;
  }
  .rem{
    font-size: 16px;
  }
  nav a{
    font-size: 16px;
  }
  nav .logo{
    font-size: 30px;
  }
  nav{
    height: 50px;
  }
  .cc{
    font-size: 16px;
  }
  .cartCount{
    padding: 1px 5px;
    font-size: 12px;
    right: -14px;
  }
}

@media(max-width: 430px) {
  .card-container{
    gap: 16px;
  }
  .card{
    width: 160px;
  }
  .login{
    border: none;
  }
  .cart-image{
    max-width: 50px;
  }
}